beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
curl_cffi==0.11.1
docopt==0.6.2
Faker==37.4.0
frozendict==2.4.6
greenlet==3.2.3
html5lib==1.1
idna==3.10
lxml==5.4.0
multitasking==0.0.11
numpy==2.2.6
pandas==2.2.3
peewee==3.18.1
pipreqs==0.4.13
platformdirs==4.3.8
protobuf==6.31.1
pycparser==2.22
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scipy==1.15.3
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.41
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
webencodings==0.5.1
websockets==15.0.1
yarg==0.1.10
yfinance==0.2.54
